
.cards {
    display: grid;
    /*The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space*/
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 30px 0px;
    margin: 40px 20px;

}

.card {
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.afficher-cours { 
    margin: 0px auto; 
    background-color: seashell; 
    box-shadow: 0px 5px 20px #999; 
    border-radius: 8px 8px;
    text-decoration: none;
    color: black;
    transform: scale(1);
    transition: transform 0.5s;
}

.titre-card, .content{
    font-size: 14px;
    text-align: center;
}

.afficher-cours:hover {
    transform: scale(1.15);
}

.titre-cours {
    text-align: center;
}

.cours {
    margin: 20px 20px;
}

.info-cours, .date-cours {
    line-height: 15px;
}

span {
    font-weight: bold;
    color: crimson;
}

.contenu-cours {
    margin: 20px;
    text-align: justify;
}

