#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 750px;
}

fieldset {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #F68712;
    background: linear-gradient(180deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.ajouter-cours {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #F68712;
    background: linear-gradient(180deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.boite-form, .boite-form-mdp {
    width: 400px;
    display: block;
    text-align: center;
    margin: 5px 0;
}

.boite-form-mdp {
    margin-top: 20px;
}


legend {
    background-color: #f1ede8;
    border-radius: 5px;
    border-bottom: 2px solid #F68712;
    box-shadow: 0px 0px 5px #808080;
}

input {
    width: 300px;
    height: 30px;
    border: 1px solid black;
    background: hsl(16, 100%, 94%);
}

label {
    font-size: 14px;
    font-weight: bold;
}

.boutonStyle {
    margin: 20px 0;
    width: 300px;
    height: 40px;
    text-transform: uppercase;
    border: none;
    background: #dab9f7;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}


.boutonStyle:hover, boutonStyle:active, boutonStyle:focus {
    background: #F68712;
}
/*
input[type="file"] {
    display: none;
}*/

/*custom-file-upload {
    width: 300px;
    height: 30px;
    border: 1px solid black;
}*/

/*Message erreur*/
.field-validation-error {
    text-align: center;
    font-size: 12px;
    color: #c12727;
    font-weight: bold;
    padding-bottom: 15px;
}

/*Input lors d'une erreur*/
.input-validation-error {
    text-align: center;
}

/* box contenu d'un cours */
textarea {
    width: 700px;
    height: 500px;
}

.boite-contenu {
    width: 700px;
}

/* vue modifier responsable élève */
.lien-suppression {

    margin-top: 20px;
}

/* form caché pour modification du mot de passe */
#form-modifier {
    display: block;
    margin-top: 20px;
    border: 4px solid #F68712;
    background: linear-gradient(180deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

#form-modifier label {
    margin: 5px 0;
}

#form-modifier input {
    margin-bottom: 10px;
}

.mdp-modifier {
    font-size: 16px;
}

