@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

body {
    background-color: #f1ede8;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-top: 6em;
}

#container {
    padding: 10px;
}


/* Mise en page du header desktop*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    /*box-shadow: 0px 5px 5px #3f3427;*/
    border-bottom: thin solid #3f3427;
    background-color: #f1ede8;
}

#entreprise {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

#entreprise img {
    height: 70px;
}

#navbar-desktop {
    height: 6rem;
    line-height: 6rem; /*centre verticalement */
    text-align: center;
}

/* Style menu mobile */
.navbar-mobile {
    display: none;
}

.navbar-mobile i {
    position: fixed;
    z-index: 99999;
    top: 9px;
    right: 15px;
    font-size: 3em;
}

.navbar-mobile .modal {
    transition: top 0.9s;
    background-color: #e0d7cc;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    opacity: 0.95;
    z-index: 99998;
}

.navbar-mobile .change-modal {
    top: 0vh;
}


.navbar-mobile #navbar-mobile-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-mobile #navbar-mobile-list a {
    font-size: 2em;
    font-weight: 800;
    padding: 2rem;
    border-bottom: none;
}

/* Style des liens */
#navbar-desktop a {
    padding: 10px;
    margin: 5px;
}


a {
    cursor: pointer;
    text-decoration: solid;
    padding: 0 5px;
    box-shadow: inset 0 0 0 0 black;
    transition: all 0.4s ease-in-out 0s;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid; /* A vailder */
}

a:hover {
    box-shadow: inset 400px 0 0 0 black;
    color: #f1ede8;
    border-bottom: none;
}

/* Style du nom utilisateur */
.nomUtilisateur {
    text-align: right;
}

/* Page d'accueil */

.section {
    min-height: 40rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.title {
    flex-direction: row;
}

.titre {
    width: 40%;
    margin-bottom: 20px;
}

.grosTitre {
    font-size: 5rem;
    color: black;
    margin: 20px 0 20px 0;
}

.image{
    object-fit: contain;
}

.image img {
    height: 35rem;
    border-left: 5px solid #e71f93;
    border-bottom: 5px solid #53afe6;
}

.section .card__icon {
    font-size: 4rem;
}

.section:nth-child(even) {
    background-color: #a6d6f2;
}

li {
    text-align: left;
}



/* footer */

footer {
   text-align: center;
}

/*Div cachées formulaires (id, mdp)*/
.hidden{
    visibility:hidden;
}

/* Media Queries */
@media screen and (max-width : 1000px) {
    #navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    /* Page d'accueil */
    .titre img {
        height: 15rem;
    }
}


