@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

body {
    background-color: #f1ede8;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-top: 6em;
}

body>div {
    padding: 10px;
    min-height: 75vh;
}

.centre {
    text-align: center;
}

/* Mise en page du header desktop*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    /*box-shadow: 0px 5px 5px #3f3427;*/
    border-bottom: thin solid #3f3427;
    background-color: #f1ede8;
}

#entreprise {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

#entreprise img {
    height: 70px;
}

#navbar-desktop {
    height: 6rem;
    line-height: 6rem; /*centre verticalement */
    text-align: center;
}

/* Style menu mobile */
.navbar-mobile {
    display: none;
}

.navbar-mobile i {
    position: fixed;
    z-index: 99999;
    top: 9px;
    right: 15px;
    font-size: 3em;
}

.navbar-mobile .modal {
    transition: top 0.9s;
    background-color: #e0d7cc;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    opacity: 0.95;
    z-index: 99998;
}

.navbar-mobile .change-modal {
    top: 0vh;
}


.navbar-mobile #navbar-mobile-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-mobile #navbar-mobile-list a {
    font-size: 2em;
    font-weight: 800;
    padding: 2rem;
    border-bottom: none;
}

/* Style des liens */
#navbar-desktop a {
    padding: 10px;
    margin: 5px;
}


a {
    cursor: pointer;
    text-decoration: solid;
    padding: 0 5px;
    box-shadow: inset 0 0 0 0 black;
    transition: all 0.4s ease-in-out 0s;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid; /* A vailder */
}

a:hover {
    box-shadow: inset 400px 0 0 0 black;
    color: #f1ede8;
    border-bottom: none;
}

/* Style du nom utilisateur */
.nomUtilisateur {
    text-align: right;
}


/* footer */
footer {
    text-align: center;
}

/*Div cachées formulaires (id, mdp)*/
.hidden{
    display: none;
    margin: 0;
    padding: 0;
}

/* Media Queries */
@media screen and (max-width : 1000px) {
    #navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    /* Page d'accueil */
    .titre img {
        height: 15rem;
    }
}

/* Vue GererUtilisateur du gestionnaire */
.titre-gererUtilisateur {
    text-align: center;
    margin-top: 50px;
}

/* Vue Creer compte utilisateur */
.titre-creerprofil {
    text-align: center;
    margin-top: 50px;
}