@using System.Security.Claims;

@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Erreur";
}

@{
    bool authentifie = User.Identity.IsAuthenticated;
    string role = "";
    if (authentifie)
    {
        role = User.FindFirst(ClaimTypes.Role).Value;
    }

}

@section Menu {
    <a href="/Enseignant/ListeVisiteur">Les Enseignants</a>
    <a href="/Prestation/ListeVisiteur">Les Prestations</a>

    @if (authentifie)
    {
        <a href="/@role/TableauDeBord/">Tableau de Bord</a>
        <a href="/login/Deconnexion">Déconnexion</a>
    }
    else
    {
        <a href="/login/">Connexion</a>
    }
}


<style>
    #container {
        padding: 0px;
    }

    section {
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #a6d6f2;
    }
</style>

<section>
    <h1 class="title">Votre abonnement est fini. </h1>
    <h1 class="title">Vous ne pouvez plus vous connecter.</h1>
</section>



