@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Erreur";
}

@section Menu {

    <a>Accueil</a>
    <a>Présentation</a>
}


<h1>Error</h1>

@section Menu {

    <ul>
        <li>Accueil</li>
        <li>Présentation</li>
    </ul>
}


