@model Tutorin.Models.Utilisateur
@{
    ViewBag.Title = "Créer un compte utilisateur";
    Layout = "_LayoutDuSite";
}

@section Menu {

    <ul>
        <li>Accueil</li>
        <li>Présentation</li>
    </ul>
}
<p>Veillez créer votre profil</p>
<ul>

@Html.ActionLink("Enseignant", "CreerEnseignant")

@Html.ActionLink("Responsable élèves", "CreerUnResponsable Eleve")

</ul>

