@model Tutorin.ViewModels.UtilisateurViewModel
@{
    ViewBag.Title = "S'authentifier";
    Layout = "_LayoutDuSite";
}

@section css {
    <link href="/css/Login.css" rel="stylesheet" />
}

@if (Model.Authentifie)
{
    <div class="msg-deconnexion">
        <h3>
            Vous êtes connecté avec l'identifiant :
            @Model.Utilisateur.Identifiant
        </h3>
        @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
    </div>
}
else
{
@*    <h1 class="titre">
        Veuillez vous authentifier :
    </h1>*@

    @using (Html.BeginForm())
    {
        <div class="login-form">

            <div class="id">
                <i class="fa-solid fa-user">&ensp;@Html.TextBoxFor(m => m.Utilisateur.Identifiant,  new {placeholder = "Identifiant"})</i>
                <span class="msg-erreur">@Html.ValidationMessageFor(m => m.Utilisateur.Identifiant)</span>
            </div>

            <div class="mdp">
                <i class="fa-solid fa-lock">&ensp;@Html.PasswordFor(m => m.Utilisateur.MotDePasse, new {placeholder = "Mot de passe"})</i>
                <span class="msg-erreur">@Html.ValidationMessageFor(m => m.Utilisateur.MotDePasse)</span>
            </div>

            <input class="btn-connecter" type="submit" value="Se connecter"/>
            <a class="lien-compte" href="/Login/CreerCompteUtilisateur">Créer un compte</a>
        </div>
    }

}


@section Script {
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

@section Menu {
    <a href="/home/">Accueil</a>
    <a>Présentation</a>
}