@model Tutorin.ViewModels.EleveViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste des élèves</title>
    <link href="/css/Site.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>Tutor'in</h1>
    </header>
    <h1>Liste des élèves : </h1>
    <table border="1">

        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Niveau</th>
            <th>Actions</th>
        </tr>

        @foreach (Tutorin.Models.Eleve eleve in Model.ListeEleves)
        {
                <tr>
                    <td>@eleve.Utilisateur.Nom</td>
                    <td>@eleve.Utilisateur.Prenom</td>
                    <td>@eleve.DateNaissance</td>
                    <td>@eleve.Niveau</td>
                    <td>
                        <a href="/Eleve/modifer">Modifier</a>
                        <a href="/Eleve/supprimer">Supprimer</a>
                    </td>
                </tr>
        }
    </table>

    <br />
    <a href="/Eleve/ajout">Ajouter un élève</a>


</body>
</html>
