@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Index";
}



<h1>Les utilisateurs</h1>

<a href="/eleve/">Les élèves</a>
<a href="/enseignant/">Les enseignants</a>

<a href="/ResponsableEleve/">Les responsables des élèves</a>



