@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/css/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>

    <h1>Les utilisateurs</h1>
    <a href="/eleve/">Les élèves</a>

</body>
</html>
