@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Index";
}

@section Menu {

    <a>Devenir enseignant</a>
    <a>Prestation</a>
    <a>Connexion</a>
    <a>Inscription</a>
    
}

<h1>S'authentifier</h1>
<a href="/login/">S'authentifier</a>

<h1>Les utilisateurs</h1>

<a href="/eleve/">Les élèves</a>
<a href="/enseignant/">Les enseignants</a>

<a href="/ResponsableEleve/">Les responsables des élèves</a>


<h1>Les prestations</h1>
<a href="/Prestation/">Les prestations</a>


