
@using Tutorin.Models
@{
    ViewBag.Title = "Gestion des Utilisateurs par Gestionnaire";
    Layout = "_LayoutDuSite";
}

@{
    var gestionnaireId = User.FindFirst("RoleId").Value ;
}

@section Menu {
    <a href="/Gestionnaire/TableauDeBord">Accueil</a>
    <a href="/ContenuPedagogique/Index2">Les cours</a>
    <a href="/Gestionnaire/GererUtilisateurs">Les utilisateurs</a>
    <a href="/Gestionnaire/modifier?gestionnaireId=@gestionnaireId">Mon Compte</a>
    <a href="/login/Deconnexion">Déconnexion</a>
}

<h1>Gérer les utilisateurs :</h1>
<ul>
    <li><a href="/Eleve/">Les élèves</a></li>
    <li><a href="/Enseignant/">Les enseignants</a></li>
    <li><a href="/ResponsableEleve/">Les responsables des élèves</a></li>
    <li><a href="/Gestionnaire/">Les Gestionnaires</a></li>
</ul>
